In [1]:
import pandas as pd
import numpy as np
import tensorflow
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation, Conv1D, MaxPooling1D, Flatten

/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/monster/anaconda3/envs/geo_py37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
Using TensorFlow backend.

In [2]:
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

In [3]:
from sklearn.model_selection import train_test_split

In [5]:
X_final = pd.read_csv('../Dataset/final.csv')

In [6]:
X_final.head(10)

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50
0,4077.0,3801.0,3588.0,3341.0,3509.0,9578.0,10052.0,10280.0,8968.0,8832.0,...,4815.0,2918.0,4605.0,12363.0,5228.0,4855.0,5013.0,5556.0,6514.0,225
1,3400.0,3065.0,1710.0,3169.0,7538.0,7435.0,7382.0,7149.0,6712.0,6667.0,...,4802.0,2935.0,4860.0,11249.0,4058.0,3586.0,1835.0,4208.0,9019.0,225
2,4518.0,3882.0,3839.0,3623.0,3788.0,6678.0,5938.0,6144.0,5540.0,5463.0,...,9226.0,8795.0,8145.0,8119.0,4128.0,3423.0,1559.0,3836.0,12437.0,225
3,4078.0,3398.0,3342.0,2988.0,3025.0,5294.0,4518.0,3827.0,4085.0,4035.0,...,5541.0,3926.0,5093.0,8735.0,4712.0,4614.0,2746.0,4830.0,8588.0,225
4,4403.0,3869.0,3487.0,3553.0,4081.0,6378.0,5924.0,6098.0,5600.0,5386.0,...,8122.0,7147.0,6846.0,7443.0,4279.0,3817.0,2050.0,4205.0,12931.0,225
5,4970.0,4921.0,4935.0,4206.0,4221.0,7378.0,7389.0,7441.0,6809.0,6728.0,...,4567.0,2662.0,4547.0,12296.0,4115.0,3366.0,1620.0,3859.0,11571.0,225
6,5038.0,4923.0,4954.0,4417.0,4580.0,5826.0,5376.0,5184.0,4941.0,4804.0,...,4750.0,2757.0,4651.0,11018.0,4331.0,3489.0,1750.0,3759.0,11829.0,225
7,4150.0,4005.0,3357.0,3684.0,4278.0,6339.0,5899.0,5507.0,5621.0,6079.0,...,7906.0,7197.0,6697.0,6823.0,4053.0,3463.0,1656.0,3972.0,12663.0,225
8,3477.0,3247.0,2718.0,3128.0,4137.0,5144.0,3931.0,3241.0,3229.0,3283.0,...,4757.0,2908.0,4810.0,9400.0,4190.0,3455.0,1611.0,3945.0,12182.0,225
9,3764.0,3669.0,2359.0,3687.0,5992.0,8231.0,8365.0,8557.0,7788.0,7680.0,...,4780.0,3391.0,4538.0,9980.0,4221.0,3771.0,1933.0,4433.0,13686.0,225

In [7]:
X_final.shape

(500000, 51)

In [10]:
mul = [i*5 for i in list(range(20))]

In [11]:
ndvi_df = pd.DataFrame(pd.Series(X_final.iloc[:,-1]))
i= 0
for m in mul[:-1]:
    print("printing for t_",i)
    print(X_final.iloc[:,0+m:5+m].head(5))
    temp = X_final.iloc[:,0+m:5+m]
    ndvi = (temp.loc[:,temp.columns[1]] - temp.loc[:,temp.columns[5]]) / (temp.loc[:,temp.columns[1]] + temp.loc[:,temp.columns[5]])
    Xt1 = pd.DataFrame(ndvi)
    Xt1.columns = ["t_"+str(i)]
    ndvi_df = pd.concat([Xt1,ndvi_df],axis=1)
    print(ndvi_df.shape)
    print("------------------------------")
    i+=1

printing for t_ 0
    col_0   col_1   col_2   col_3   col_4   col_5    col_6    col_7
0  4077.0  3801.0  3588.0  3341.0  3509.0  9578.0  10052.0  10280.0
1  3400.0  3065.0  1710.0  3169.0  7538.0  7435.0   7382.0   7149.0
2  4518.0  3882.0  3839.0  3623.0  3788.0  6678.0   5938.0   6144.0
3  4078.0  3398.0  3342.0  2988.0  3025.0  5294.0   4518.0   3827.0
4  4403.0  3869.0  3487.0  3553.0  4081.0  6378.0   5924.0   6098.0
(500000, 2)
------------------------------
printing for t_ 1
    col_5    col_6    col_7   col_8   col_9  col_10  col_11  col_12
0  9578.0  10052.0  10280.0  8968.0  8832.0  7140.0  7413.0  7128.0
1  7435.0   7382.0   7149.0  6712.0  6667.0  7746.0  7603.0  7823.0
2  6678.0   5938.0   6144.0  5540.0  5463.0  9418.0  9600.0  9507.0
3  5294.0   4518.0   3827.0  4085.0  4035.0  7444.0  7222.0  7237.0
4  6378.0   5924.0   6098.0  5600.0  5386.0  4942.0  4164.0  2658.0
(500000, 3)
------------------------------
printing for t_ 2
   col_10  col_11  col_12  col_13  col_14  col_15  col_16  col_17
0  7140.0  7413.0  7128.0  6342.0  6442.0  5360.0  4345.0  3020.0
1  7746.0  7603.0  7823.0  6855.0  6792.0  7065.0  6691.0  6987.0
2  9418.0  9600.0  9507.0  8277.0  8132.0  5352.0  4194.0  2840.0
3  7444.0  7222.0  7237.0  6569.0  6669.0  8075.0  8109.0  8912.0
4  4942.0  4164.0  2658.0  4614.0  9598.0  5775.0  5272.0  3209.0
(500000, 4)
------------------------------
printing for t_ 3
   col_15  col_16  col_17  col_18   col_19  col_20  col_21  col_22
0  5360.0  4345.0  3020.0  3564.0   8101.0  5546.0  4208.0  2629.0
1  7065.0  6691.0  6987.0  5804.0   5915.0  6318.0  6324.0  4637.0
2  5352.0  4194.0  2840.0  3243.0   8138.0  5946.0  4435.0  2760.0
3  8075.0  8109.0  8912.0  7168.0   7839.0  5977.0  5190.0  3479.0
4  5775.0  5272.0  3209.0  5017.0  12403.0  5640.0  4679.0  2981.0
(500000, 5)
------------------------------
printing for t_ 4
   col_20  col_21  col_22  col_23   col_24  col_25  col_26   col_27
0  5546.0  4208.0  2629.0  3819.0  13090.0  6563.0  5655.0   3511.0
1  6318.0  6324.0  4637.0  6040.0  12179.0  6574.0  5754.0   4200.0
2  5946.0  4435.0  2760.0  3849.0  11250.0  9743.0  9964.0  10313.0
3  5977.0  5190.0  3479.0  4650.0  10682.0  6019.0  4783.0   2640.0
4  5640.0  4679.0  2981.0  3859.0  11004.0  7703.0  7517.0   6691.0
(500000, 6)
------------------------------
printing for t_ 5
   col_25  col_26   col_27  col_28   col_29   col_30   col_31   col_32
0  6563.0  5655.0   3511.0  4559.0  11894.0   9099.0   9634.0   9220.0
1  6574.0  5754.0   4200.0  4834.0   9151.0   8648.0   8340.0   8545.0
2  9743.0  9964.0  10313.0  8824.0   9265.0  11292.0  11749.0  12200.0
3  6019.0  4783.0   2640.0  3797.0  12066.0   8692.0   8951.0   9027.0
4  7703.0  7517.0   6691.0  6783.0   9061.0  12995.0  13618.0  13091.0
(500000, 7)
------------------------------
printing for t_ 6
    col_30   col_31   col_32   col_33   col_34   col_35   col_36   col_37
0   9099.0   9634.0   9220.0   8946.0  10481.0  10983.0  11136.0  10887.0
1   8648.0   8340.0   8545.0   8057.0   7952.0  10299.0  10877.0  11196.0
2  11292.0  11749.0  12200.0  11173.0  10934.0   8640.0   8192.0   8503.0
3   8692.0   8951.0   9027.0   8363.0   8101.0   9871.0  10168.0  10467.0
4  12995.0  13618.0  13091.0  11856.0  11108.0   9210.0   9691.0   9412.0
(500000, 8)
------------------------------
printing for t_ 7
    col_35   col_36   col_37  col_38  col_39  col_40  col_41  col_42
0  10983.0  11136.0  10887.0  9719.0  9778.0  5865.0  4815.0  2918.0
1  10299.0  10877.0  11196.0  9513.0  9630.0  5880.0  4802.0  2935.0
2   8640.0   8192.0   8503.0  7649.0  8394.0  9460.0  9226.0  8795.0
3   9871.0  10168.0  10467.0  9222.0  9231.0  6168.0  5541.0  3926.0
4   9210.0   9691.0   9412.0  8834.0  9194.0  8637.0  8122.0  7147.0
(500000, 9)
------------------------------
printing for t_ 8
   col_40  col_41  col_42  col_43   col_44  col_45  col_46  col_47
0  5865.0  4815.0  2918.0  4605.0  12363.0  5228.0  4855.0  5013.0
1  5880.0  4802.0  2935.0  4860.0  11249.0  4058.0  3586.0  1835.0
2  9460.0  9226.0  8795.0  8145.0   8119.0  4128.0  3423.0  1559.0
3  6168.0  5541.0  3926.0  5093.0   8735.0  4712.0  4614.0  2746.0
4  8637.0  8122.0  7147.0  6846.0   7443.0  4279.0  3817.0  2050.0
(500000, 10)
------------------------------
printing for t_ 9
   col_45  col_46  col_47  col_48   col_49  col_50
0  5228.0  4855.0  5013.0  5556.0   6514.0     225
1  4058.0  3586.0  1835.0  4208.0   9019.0     225
2  4128.0  3423.0  1559.0  3836.0  12437.0     225
3  4712.0  4614.0  2746.0  4830.0   8588.0     225
4  4279.0  3817.0  2050.0  4205.0  12931.0     225
(500000, 11)
------------------------------
printing for t_ 10
   col_50
0     225
1     225
2     225
3     225
4     225

IndexError: index 1 is out of bounds for axis 0 with size 1

In [ ]:
ndvi_df.head()

In [ ]:
ndvi_df.shape

In [ ]:
c1 = pd.DataFrame(np.mean(ndvi_df.loc[ndvi_df['col_152']=='Wheat',:],axis=0))
c2 = pd.DataFrame(np.mean(ndvi_df.loc[ndvi_df['col_152']=='Potato',:],axis=0))
c3 = pd.DataFrame(np.mean(ndvi_df.loc[ndvi_df['col_152']=='Red_Lentils_Masoor',:],axis=0))
c4 = pd.DataFrame(np.mean(ndvi_df.loc[ndvi_df['col_152']=='Turmeric',:],axis=0))

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.plot(c1.index,c1.iloc[:,0],color='r')
plt.plot(c2.index,c2.iloc[:,0],color='g')
plt.plot(c3.index,c3.iloc[:,0],color='b')
plt.plot(c4.index,c4.iloc[:,0],color='y')

In [ ]:
ndvi_df['avg_ndvi'] = np.mean(ndvi_df,axis=1)

In [ ]:
pd.pivot_table(ndvi_df,index=["col_152"],values = ['avg_ndvi'] ,aggfunc=np.mean)

In [ ]:
ndvi_df.head(20)

In [ ]:
y_final = ndvi_df.iloc[:,-2]

In [ ]:
# encode class values as integers
encoder = LabelEncoder()
encoder.fit(y_final)
encoded_Y = encoder.transform(y_final)
# convert integers to dummy variables (i.e. one hot encoded)
dummy_y = keras.utils.to_categorical(encoded_Y,num_classes=4)

In [ ]:
encoded_Y[:10]

In [ ]:
dummy_y[0]

In [ ]:
X_model =ndvi_df.drop(columns=['col_152'])

In [ ]:
X_model.head(10)

In [ ]:
X_train_ml, X_test_ml, y_train_ml, y_test_ml = train_test_split(X_model, encoded_Y, test_size=0.05, random_state=42,shuffle = True)

In [ ]:
X_train_ml.shape,y_train_ml.shape

In [ ]:
X_test_ml.shape,y_test_ml.shape

In [ ]:
#models

In [ ]:
#RandomForrest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

# Initialize our model with 500 trees
rf = RandomForestClassifier(n_estimators=500, random_state=0, n_jobs=-1)

# Fit our model to training data
rf = rf.fit(X_train_ml, y_train_ml)

y_pred = rf.predict(X_test_ml)

from sklearn.metrics import accuracy_score

print("Accuracy",accuracy_score(y_test_ml, y_pred))

In [ ]:
#important features
from sklearn.feature_selection import SelectFromModel
sfm = SelectFromModel(rf, threshold=0.05)

# Train the selector
sfm.fit(X_train_ml, y_train_ml)

for feature_list_index in sfm.get_support(indices=True):
    print(X_train_ml.columns[feature_list_index])

In [ ]:
#Decision Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)

model.fit(X_train_ml, y_train_ml)

y_pred = model.predict(X_test_ml)

from sklearn.metrics import accuracy_score

print("Accuracy",accuracy_score(y_test_ml, y_pred))

In [ ]:
#Xgboost Classifier

In [ ]:
from xgboost.sklearn import XGBClassifier

model = XGBClassifier(learning_rate =0.1,
 n_estimators=1000,
 max_depth=5,
 min_child_weight=1,
 gamma=0,
 subsample=0.7,
 colsample_bytree=0.7,
 objective= 'multi:softmax',
 #num_class = 4,                     
 nthread=6,
 scale_pos_weight=1,
 seed=27)

model.fit(X_train_ml, y_train_ml)

y_pred = model.predict(X_test_ml)

from sklearn.metrics import accuracy_score

print("Accuracy",accuracy_score(y_test_ml, y_pred))

In [ ]:
#KNN Classifier

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model4 = KNeighborsClassifier(n_neighbors = 10, metric = 'minkowski', p = 2)

model4.fit(X_train_ml, y_train_ml)

y_pred = model4.predict(X_test_ml)

from sklearn.metrics import accuracy_score

print("Accuracy",accuracy_score(y_test_ml, y_pred))